services:

  kinesis:
    image: instructure/kinesalite:latest
    command: --port 4567 --shardLimit 10000
    restart: always
    ports:
      - 4567:4567
  redis:
    image: redis:latest
    restart: always
    ports:
      - 16379:6379

  test:
     container_name: async-kinesis-test
     command: ['pytest', '-v', '--cov=kinesis', '-m', 'not dynamodb']
     volumes:
      - ./tests:/app/tests
      - ./kinesis:/app/kinesis
      - ./pytest.ini:/app/pytest.ini
     build:
       context: .
       dockerfile: Dockerfile
     environment:
      - AWS_DEFAULT_REGION=ap-southeast-2
      - ENDPOINT_URL=http://kinesis:4567
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
     depends_on:
      - kinesis
      - redis
